@font-face
{
	font-family:		'Exo2.0-Regular';
	src:				url('fonts/Exo2.0-Regular.otf') format("opentype");

}

body
{
	font-family:		'Exo2.0-Regular';
	font-weight:		normal;
	font-style:			normal;
	background-image: 	url("images/background.png");
	background-color: 	black;
	color: 				#daffff;
}

.titleCard
{
	text-align: 		center;
	color:				black;
	font-size: 			64px;
	text-shadow: 		0 0 3px #daffff, 0 0 5px #daffff;
	font-family: 		'Exo2.0-Regular';
	font-weight: 		normal;
	font-style: 		normal;
}

.titleCard:hover
{ 
	color: 				white;
	cursor: 			pointer;
}