<div class="buttonPanel">
	<div class="lightningBorderButton">
		<a href="index.html" class="lightningInsideButton">Home</a>
	</div>
	<div class="lightningBorderButton">
		<a target="_blank" href="https://sharonlougheed.wixsite.com/portfolio" class="lightningInsideButton">Games</a>
	</div>
	<div class="lightningBorderButton">
		<a href="resume.html" class="lightningInsideButton">Resume</a>
	</div>
	<div class="lightningBorderButton">
		<a href="contact.html" class="lightningInsideButton">Contact</a>
	</div>
</div>